

#bg {
    position: relative;
    top: 35%;
    left: 80%;
    width: 20%;
    height: 60%;
    
}


#TGoogle {
    position:relative;
    top: -13%;
    left: 62.6%;
    width: 3%;
    height: 4%;

}

#altv {
    position:relative;
    top: -13%;
    left: 63%;
    width: 3%;
    height:4%;

}

#fb {
    position:relative;
    top: -13%;
    left: 63.4%;
    width: 3%;
    height: 4%;

}

#github {
    position:relative;
    top: -13%;
    left: 63.7%;
    width: 3%;
    height: 4%;

}


@media screen and (max-width: 800px)  {
    #TGoogle {
        position:relative;
        top: -13%;
        left: 62%;
        width: 3%;
        height: 4%;
    
    }
    
    #altv {
        position:relative;
        top: -13%;
        left: 62.3%;
        width: 3%;
        height:4%;
    
    }
    
    #fb {
        position:relative;
        top: -13%;
        left: 63.0%;
        width: 3%;
        height: 4%;
    
    }
    
    #github {
        position:relative;
        top: -13%;
        left: 63.3%;
        width: 3%;
        height: 4%;
    
    }
  } 